<% unless topic.comments.empty? %>
<% show= "show" %>
<% else %>
<% show= "hide" %>
<% end %>
<div class="widget <%= show %>" style="width:450px;">
  <div class="caption">
    <% topic.comments.each do |comment| %>
    <a class="close">×</a>
    <h5><%= comment.user.pseudo %>:</h5>
   <span class="comment"><%= comment.content %></span>
    <li class="divider"></li>
    <% end %>
    <div class="row">
      <%= form_for(topic, :url => topic_comment_path(topic), :remote => true) do |f| %>
      <div class="span4">
	<%= f.text_area :content, :cols => "80", :rows => "1" ,:value => "Your Comment here", :style => "width: 440px;"%>
      </div>
    </div>
    <div class="row">
      <div class="span4 offset4">
	<%= f.submit "Comment" , :class =>'btn btn-mini btn-primary'%>
    </div>
    </div>
    <% end %>
  </div>
</div>
