<% @topics.each do |topic| %>

<div class="topic" style="">
  <div class="avatar" style="float: left">
    <img style="height: 40px; width: 40px; " src="<%=asset_path "profil.png"%>" alt="profil"/>
  </div>
  <div class="user" style="position: absolute; padding-left: 5em;  font-weight:bold ">
    <i> <%= topic.user.pseudo %> </i>
  </div>
  <div class="time" style="position: absolute; padding-left: 42em;;">
    <%= time_ago_in_words(topic.created_at) %> ago
  </div>
  <br>
  <div class="text" style="position: absolute; padding-left: 5em;  font-weight:bold">
    <p><%= get_topic_desc(topic) %></p>
  </div>
  <br><br>
  <div class="social">
    <a class="txt" href="#"> like </a>
    <a class="txt" href="#">comment</a>
    <div id="comments-topic-<%= topic.id %>">
      <%= render :partial => 'comment', :locals => { :topic => topic} %>
    </div>
   </div> 
</div>
  
 <% end %>
  <br><br>
 <i><a href="#"> more events ...</a></i>
