<div class="modal-header">
  <h3 id="title" >Sign up</h3>
</div>
<div class="modal-body">
  <%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :pseudo %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="modal-footer">
  <div class="actions">
    <%= f.submit 'Sign up' , :class =>'btn btn-primary'%>
  </div>
  <% end %>
</div>
