<% if ((trash && fichier.trash) || (!trash && !fichier.trash)) %>
<% if fichier.users_favori.exists?(current_user) %>
<% icon_favori = "icon-star" %>
<% else %>
<% icon_favori = "icon-star-empty" %>
<% end %>
<tr id="file_<%= fichier.id %>">
  <td id="file_name"><%= fichier.data_file_name %></td>
  <td id="content_type"><%= fichier.data_content_type %></td>
  <td id="file_size"><%= fichier.data_file_size %></td>
  <td id="updated_at"><%= fichier.updated_at %></td>
  <td><%= link_to '<i class="icon-eye-open"/>'.html_safe , fichier, :class => '', :remote => true %></td>
   <% if !trash %> 
  <td><%= link_to '<i class="icon-share"/>'.html_safe , share_fichier_path(fichier), :class => '', :remote => true %></td>
  <td><%= link_to "<i class=\"#{icon_favori}\"/>".html_safe , favori_fichier_path(fichier), :class => '', :remote => true %></td>
     <td><%= link_to '<i class="icon-download-alt"/>'.html_safe, download_fichier_path(fichier), :id => 'download_file' %></td>
  <td><%= link_to '<i class="icon-pencil"/>'.html_safe, edit_fichier_path(fichier), :id => 'edit_file', :remote => true %></td>
  <td><%= link_to '<i class="icon-trash"/>'.html_safe, trash_fichier_path(fichier), :confirm => 'Are you sure?', :method => :delete, :remote=>true, :id => 'trash_fichier' %></td>
   <% else %>
  <td><%= link_to '<i class="icon-share-alt"/>'.html_safe, restore_fichier_path(fichier), :confirm => 'Are you sure?', :method => :put, :remote=>true, :id => 'restore_fichier' %></td>
  <td><%= link_to '<i class="icon-remove"/>'.html_safe, fichier, :confirm => 'Are you sure?', :method => :delete, :remote=>true, :id => 'delete_fichier' %></td>
  <% end %>

</tr>

<% end %>
