<h1></h1>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#"><i class="icon-file"></i>My uploaded</a>
  </li>
  <li><a href="#"><i class="icon-share"></i>My shared</a>
  </li>
  <li><a href="#"><i class="icon-star"></i>My favoris</a></li>
  <li><a href="#"> <i class="icon-trash"></i>My trash</a></li>
</ul>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Size</th>
    <th>Last update</th>
    <th colspan="3"></th>
  </tr>

<% @fichiers.each do |fichier| %>
  <tr>
    <!-- <td><%= fichier.fhash %></td> -->
    <td><%= fichier.data_file_name %></td>
    <!-- <td><%= fichier.extension %></td> -->
    <td><%= fichier.data_content_type %></td>
    <td><%= fichier.data_file_size %></td>
    <td><%= fichier.updated_at %></td>
    <td><%= link_to '<i class="icon-eye-open"/>'.html_safe , fichier, :class => '', :remote => true %></td>
    <td><%= link_to '<i class="icon-pencil"/>'.html_safe, edit_fichier_path(fichier), :id => 'edit_file', :remote => true %></td>
    <td><%= link_to '<i class="icon-trash"/>'.html_safe, fichier, :confirm => 'Are you sure?', :method => :delete, :remote=>true, :id => 'delete_fichier' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fichier', new_fichier_path, :id => 'new_file', :remote => true %>

<div class="modal hide" id="file_modal"></div>

