<h1></h1>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="/fichiers/tab?status=uploaded" data-toggle="tab" data-target="#uploaded"><i class="icon-file"></i>My uploaded</a> 
  </li>
  <li>
    <a href="/fichiers/tab?status=shared" data-toggle="tab" data-target="#shared"><i class="icon-share"></i>My shared</a>
  </li>
  <li><a href="/fichiers/tab?status=favori" data-toggle="tab" data-target="#favoris"><i class="icon-star"></i>My favoris</a></li>
  <li>
    <a href="/fichiers/tab?status=trash"  data-toggle="tab" data-target="#trash"> <i class="icon-trash"></i>My trash</a>
   
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="uploaded">
    <%= render :partial => 'filetable', :locals => { :fichiers => @fichiers, :trash => false, :table_id => 'files_table'} %>
  </div>
  <div class="tab-pane" id="shared">my shared</div>
  <div class="tab-pane" id="favoris">My favoris</div>
  <div class="tab-pane" id="trash">
     <%= render :partial => 'filetable', :locals => { :fichiers => @fichiers, :trash => true, :table_id => 'trash_table'} %>
  </div>
</div>

<br />

<%= link_to 'New Fichier', new_fichier_path, :id => 'new_file', :remote => true %>

   <!-- <%= link_to '<i class="icon-file"></i>My uploaded'.html_safe, tab_fichiers_path(:status => "uploaded"), "data-toggle" => "tab", "data-target" => "uploaded", :remote => true %> -->
 <!-- <%= link_to '<i class="icon-trash"></i>My trash'.html_safe, tab_fichiers_path(:status => "trash"), "data-toggle" => "tab", :remote => true %> -->
