 <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
     <h3 id="title" ><%= @fichier.data_file_name %></h3>
 </div>
  <div class="modal-body">
     <div class="field">
       <p>
	 <b>Type:</b>
	 <%= @fichier.data_content_type %>
       </p>
     </div>
    <div class="field">
      <p>
	<b>Size:</b>
	<%= @fichier.data_file_size %>
      </p>
    </div>
    <div class="field">
      <p>
	<b>Description:</b>
	<%= @fichier.description %>
      </p>
    </div>
    <div class="field">
      <p>
	<b>Tags:</b>
	<%= @fichier.tags %>
      </p>
    </div>
  </div> 
