<!DOCTYPE html>
<html>
<head>
  <title>Filebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/nav' %>
<div class="app_top">
  <div class="header"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <br>
      <% if current_user %>
      <div class="widget">
	<div class="caption">
	  <table class="table table-bordered">
	    <tr>
	      <td colspan="2"> <%= current_user.pseudo %></td>
	    </tr>
	    <tr>
	      <td id="user_files" > <%= link_to 'Files', fichiers_path %> <br> <%= current_user.fichiers.size %></td>
	      <td id="user_followers" ><%= link_to 'Followers', users_followers_path %> <br><%= current_user.followers.size %></td>
	      <td id="user_following" ><%= link_to 'Following', users_following_path %> <br><%= current_user.following.size %></td>
	    </tr>
	  </table>
	 
	</div>
      </div> 
      <% end %>
      <br>
            
    </div>
    <div class="span9">
      <div class="main_content">
    <div id="flash_content">
      <% unless flash[:notice].blank? %>
      <%=  nice_flash(flash[:notice]) %>
      <% end %>
      <% unless flash[:error].blank? %>
      <%= error_flash(flash[:error]) %>
      <% end %>
    </div>
    <%= yield %>
    <div class="modal hide" id="file_modal"></div>
  </div>
    </div>
  </div>
</div>





  
  
</div>
<div class="app_bottom"></div>
<div class="footer"> Powred by malachheb</div>

</body>
</html>
