<!DOCTYPE html>
<html>
<head>
  <title>Filebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/nav' %>
<div class="app_top">
  <div class="header"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <br>
      <div class="widget">
	<div class="caption">
	  <h5>Thumbnail label</h5>
	  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	  
	</div>
      </div> 
      <br>
            
    </div>
    <div class="span9">
      <div class="main_content">
    <div id="flash_content">
      <% unless flash[:notice].blank? %>
      <%=  nice_flash(flash[:notice]) %>
      <% end %>
      <% unless flash[:error].blank? %>
      <%= error_flash(flash[:error]) %>
      <% end %>
    </div>
    <%= yield %>
    <div class="modal hide" id="file_modal"></div>
  </div>
    </div>
  </div>
</div>





  
  
</div>
<div class="app_bottom"></div>
<div class="footer"> Powred by malachheb</div>

</body>
</html>
